<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title></title>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="/css/bootplus.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/css/new.css">
    <link rel="stylesheet" href="/css/bootplus-responsive.min.css">
    
    <!--[if IE]>
        <script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="http://www.sembpc.com">排名优化</a>
                <div class="nav-collapse collapse">
                    <ul class="nav pull-right">
                        <li class="pull-right">
                            <a href="/logout">退出</a>
                        </li>                      
                    </ul>                   
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="span3 bs-docs-sidenav">
                <ul class="nav nav-list bs-docs-sidenav affix">

                    {{range .Menu}}
                    <li><a href="{{.Name}}">{{.Title}}</a>
                    </li>
                    {{end}}
                </ul>
            </div>          
            <div class="span9">
               <section>
                    <p class="page-header">添加关键词</p>
                   
                    <div id="my-tab-content" class="tab-content">
                   <div class="navbar-form pull-left">
                     <input class="span2" type="text" placeholder="关键字" name="Keyword">
                     <input class="span3" type="text" placeholder="http://www.example.com" name="Destlink">
                     <input class="span2" type="text" placeholder="城市(可选项)" name="KeyCity">
                     <input class="span2" type="text" placeholder="省份(可选项)" name="KeyProvince">
                     <button class="btn btn-primary" id="addKey">添加</button>
                   </div>                       
                   </div>                                           
               </section>
                <section>
                    <p class="page-header">关键词列表</p>
                    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                        <li class="active"><a href="#keyList" data-toggle="tab">优化中</a>
                        </li>
                    </ul>
                    <div id="my-tab-content" class="tab-content">
                        <div class="tab-pane active" id="keyList">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>关键字</th>
                                        <th>网址</th>
                                        <th>指数</th>
                                        <th>现排名</th>
                                        <th>原排名</th>
                                        <th>分组</th>
                                        <th>加入时间</th>
                                        <th>价格</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{range .Result.Norms}}
                                        <tr>
                                           <td>{{.KeyMsg.Id}}</td>
                                            <td>{{.KeyMsg.Keyword}}</td>
                                            <td>{{.KeyMsg.Destlink}}</td>
                                            <td>{{.CIndex}}</td>
											  {{if ge .COrder 50}}
                                            <td>>{{.COrder}}</td>
											  {{else}}
											  <td>{{.COrder}}</td>
											  {{end}}
											
											  {{if ge .HOrder 50}}
                                            <td>>{{.HOrder}}</td>
											  {{else}}
											  <td>{{.HOrder}}</td>
											  {{end}}
											                                      
                                            <td>{{.KeyMsg.Owner}}</td>
                                            <td>{{.KeyMsg.Logtime}}</td>
                                            <td>{{.Cost}}</td>
                                            {{if  .Cancel | not}}                                            
                                            <td>
                                            <i class="icon-play-sign"></i>    
                                            </td>
                                            {{else}}
                                            <td>
                                            <i class="icon-pause"></i>     
                                            </td>                                            
                                            {{end}}
                                            <td><button class="btn btn-primary" name="operate" value="{{.KeyMsg.Id}}"><i class="icon-external-link"></i></button></td>                                                                               
                                        </tr>
                                    {{end}}                                   

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="pagination pagination-right">
                    {{if gt .Paginator.PageNums 1}}
                    <ul class="pagination pagination-sm">
                        {{if .Paginator.HasPrev}}
                            <li><a href="{{.Paginator.PageLinkFirst}}">第一页</a></li>
                            <li><a href="{{.Paginator.PageLinkPrev}}">&lt;</a></li>
                        {{else}}
                            <li class="disabled"><a>第一页</a></li>
                            <li class="disabled"><a>&lt;</a></li>
                        {{end}}
                        {{range $index, $page := .Paginator.Pages}}
                            <li {{if $.Paginator.IsActive .}} class="active"{{end}}>
                                <a href="{{$.Paginator.PageLink $page}}">{{$page}}</a>
                            </li>
                        {{end}}
                        {{if .Paginator.HasNext}}
                            <li><a href="{{.Paginator.PageLinkNext}}">&gt;</a></li>
                            <li><a href="{{.Paginator.PageLinkLast}}">尾页</a></li>
                        {{else}}
                            <li class="disabled"><a>&gt;</a></li>
                            <li class="disabled"><a>尾页</a></li>
                        {{end}}
                    </ul>
                    {{end}}
                    </div>                    
                </section>
            </div>
        </div>
        <!-- Modal -->
        <div id="updateKeyModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">关键字操作</h3>
            </div>
            <div class="modal-body">
               <input type="hidden" id="Id">
                <label class="input-block-level">
                    分组
                    <input type="text" id="Owner" class="input-small">
                </label>
                <label class="input-block-level">
                    当前状态
                    <span id="keyStatus">
                     
                    </span>
                </label>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true" id="updateKey">更新</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>                
            </div>
        </div>
        <div id="infoModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="deleteModalLabel">操作提示</h3>
            </div>
            <div class="modal-body">
               <p></p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>                
            </div>
        </div>                  
    </div>
    <script src="/js/jquery-1.8.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <script src="/js/team.js"></script>
</body>

</html>